
<div class="container">
<h3>Achats:</h3>
<div class="row">
<button class="btn btn-default" id="modif">Modifier mon cadi</button>
</div>
</div>
<table class="table">
<thead>
<th>Nom</th>
<th>Prix</th>
<th>Quantité</th>
<th>&nbsp</th>
</thead>
<tbody>
{{#each cart}}
<tr>
<td>{{name}}</td>
<td>{{price}}</td>
<td><a href="/plus/{{name}}" style="display:none;" id="op"><span class="glyphicon glyphicon-plus"></span></a>&nbsp{{qty}}&nbsp
&nbsp<a href="/moins/{{name}}" style="display:none;" id="op"><span class="glyphicon glyphicon-minus"></span></a>
</td>
</tr>
{{/each}}
<tr>
<td></td>
<td></td>
<td></td>
<td>Total:{{total}}</td>
</tr>
</tbody>
</table>
<br>
{{message}}



<div class="container">
<h3>Reservations:</h3>
<div class="row">
<a href="/annuler">Annuler réservation</a>
<table class="table">
<thead>
<th>Référence</th>
<th>Date Début</th>
<th>Date Fin</th>
<th>Nbr de jours</th>
<th>Tarif</th>
<th>Montant</th>
</thead>
<tbody>
<tr>
<td>{{resa.idArticle}}</td>
<td>{{resa.date_deb}}</td>
<td>{{resa.date_fin}}</td>
<td>{{resa.arr}}</td>
<td>{{resa.tarif}}</td>
<td>{{resa.tot}}</td>
</tr>
</tbody>
</table>
</div>



{{#unless user}}
<div class="row">
<a class="btn btn-info" href="/users/login">Valider</a>
</div>
{{/unless}}

</div>


 