<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
             {{#if user}}
              <li role="presentation"><a href="/">Page d'acceuil</a></li>
              <li role="presentation"><a href="/users/logout">Se déconnecter</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted"><strong>Surf Shopping</strong></h3>
      </div>
<div class="container">
<div class="row">
<div class="col-md-3 col-offset-md-1">
<h3>Bienvenue {{user.username}}</h3>
<h3>Montant à payer : {{montant}}</h3>
</div>

<div class="col-offset-md-1 col-md-7" style="border-left: 1px solid blue;">
<h3>Reservations:</h3>
<div class="row">
<table class="table">
<thead>
<th>Référence</th>
<th>Date Début</th>
<th>Daté Fin</th>
<th>Nbr de jours</th>
<th>Tarif</th>
<th>Montant</th>
</thead>
<tbody>
<tr>
<td>{{resa.idArticle}}</td>
<td>{{resa.date_deb}}</td>
<td>{{resa.date_fin}}</td>
<td>{{resa.arr}}</td>
<td>{{resa.tarif}}</td>
<td>{{resa.tot}}</td>
</tr>
</tbody>
</table>
</div>
<div>
<table class="table">
<thead>
<th>Nom</th>
<th>Prix</th>
<th>Quantité</th>
<th>&nbsp</th>
</thead>
<tbody>
{{#each cart}}
<tr>
<td>{{name}}</td>
<td>{{price}}</td>
<td>{{qty}}</td>
</tr>
{{/each}}
<tr>
<td></td>
<td></td>
<td></td>
<td>Total:{{cart.total}}</td>
</tr>
</tbody>
</table>
</div>

</div>

</div>

<div class="container">
<!-- Partie bouton paiment, confirmation, archivage -->
<div class="row">
<div class="col-offset-md-4 col-md-4">
<form method="post" action="payer">
<input type="hidden" value="{{user.username}}" name="username"/>
<input type="hidden" value="{{resa.intervalle}}" name="intervalle"/>
<input type="hidden" value="{{cart}}" name="cart"/> 
<input type="hidden" value="{{resa.date_deb}}" name="debut"/>
<input type="hidden" value="{{resa.date_fin}}" name="fin"/>
<input type="hidden" value="{{montant}}" name="montant"/>
<input type="hidden" value="{{resa.idArticle}}" name="id"/>
<button class="paypal_btn" data-toggle="modal" data-target=".bs-example-modal-lg">PayPal</button>
</form>
</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h2><span style="color:red">Payment effectué</span></h2>
     <p style="color:green">Merci pour votre fidélité {{user.username}}</p>
     <div>
     <form action="logout">
     <button class="btn btn-success">Sortir</button>
     </form>
     </div>
    </div>
  </div>
</div>


</div> <!-- fin container -->
