<div class="container">

<div class="row">
{{#each res}}
<figure>
<img src="/{{image}}" alt="{{nom}}" />
<figcaption style="font-weight:bold;width:60%;">{{description}}</figcaption>
</figure>

<p>Prix: {{tarif_jour}}euros/jour</p>
<p>Capacité: {{capacite}}</p>
<p>Age minimum: {{age_min}}</p>
</div>

<div class="row">
<div class="col-md-8">
<form method="post" action="reserver">
<input type="hidden" value="{{_id}}" name="idArticle"/>
<input type="hidden" value="{{dates_non_comprises}}" name="dates_res" id="res"/>
<input type="hidden" name="tarif" value="{{tarif_jour}}"/>
<table class="table">
<tr>
    <td><label>Date Départ</label></td>
    <td><input type="text" id="datepicker" name="date_deb"></td>
    <td>&nbsp</td>
    <td><label>Date Retour</label></td>
    <td><input type="text" id="datepicker2" name="date_fin"></td>
</tr> 
</table> 

<button class="btn btn-primary id="valid">Valider</a>
</form>
</div>
<div class="col-md-offset-1 col-md-3">
<span><strong>Veuillez choisir un intervalle de dates disponibles consécutives</strong></span>
</div>

</div>
{{/each}}


</div>